{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">k</span><span class="base09">o</span><span class="base0a">n</span><span class="base0b">k</span><span class="base0c">e</span><span class="base0d">r</span><span class="base0e">s</span><span class="base05">]</span><span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
  infinite distraction through making.... and some gaming
</div>
